<!DOCTYPE html>
<html lang="en" xmins:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous" th:fragment="bootstrap">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous" th:fragment="bootstrap-script"></script>
</head>
<body>
    <div style="" th:fragment="header">
    	<div style="height: 60px;" class="">
    		<div class="bg-light h-100 d-flex align-items-center justify-content-center">家計費管理</div>
    	</div>
    </div>
    
    <div style="position: fixed;left: 0;bottom: 0;width: 100%;" th:fragment="footer">
    	<div style="height: 60px;" class="mt-5">
    		<div class="bg-secondary text-light h-100">
    			<div class="container h-100 d-flex align-items-center justify-content-between">
    				<div>JAVA Spring 課題4</div>
    				<div>Assignment by - Aar Kar Mann Aung</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>